In [1]:
numeros = [6,5,3,8,4,2,5,4,11]

suma = 0

for valor in numeros:
    
    suma = suma + valor
    
print("La suma es: ", suma)

La suma es:  48

In [2]:
numeros = [6,5,3,8,4,2,5,4,11]

suma = 0

for valor in numeros:
    
    suma = suma + valor
    
print(f"La suma es {suma}")

La suma es 48

In [3]:
frutas = ["manzana", "fresa", "cereza"]
for fruta in frutas:
    print(fruta)

manzana
fresa
cereza

In [4]:
for letra in "plátano":
    print(letra)

p
l
á
t
a
n
o

In [7]:
total = 0
for i in 5, 7, 11, 13:
    print(i)
    total = total + i
print("Total: ", total)

5
7
11
13
Total:  36

In [8]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [9]:
for x in range(2,10):
    print(x)

2
3
4
5
6
7
8
9

In [13]:
for x in range(2,10,3):
    print(x)

2
5
8

In [14]:
for x in range(6):
    print(x)
else:
    print("proceso terminado")

0
1
2
3
4
5
proceso terminado

In [15]:
mas_grande = -1

for numero in [9, 41,12, 3, 74, 15]:
    if numero > mas_grande:
        mas_grande = numero
print("Número más grande: ", mas_grande)

Número más grande:  74

In [16]:
frutas = ["manzana", "fresa", "cereza"]
for fruta in frutas:
    print(fruta)
    if fruta == "fresa":
        break

manzana
fresa

In [18]:
for x in range(6):
    if x == 3: break
    print(x)
else:
    print("Proceso terminado")

0
1
2

In [21]:
nombre = input("Nombre del estudiante:  ")
datos = {"José" : 85, "Angela" : 92, "Miguel" : 75, "Ana" : 98}

for estudiante in datos:
    if estudiante == nombre:
        print("Calificación: ", datos[estudiante])
        break
else:
    print("No se encontró al estudiante solicitado")

Nombre del estudiante:  José
Calificación:  85

In [22]:
frutas = ["manzana", "fresa", "cereza"]
adjetivos = ["roja", "grande", "deliciosa"]

for fruta in frutas:
    for tipo in adjetivos:
        print(fruta, tipo)

manzana roja
manzana grande
manzana deliciosa
fresa roja
fresa grande
fresa deliciosa
cereza roja
cereza grande
cereza deliciosa

In [23]:
lista = [10, 20, 30, 40]
for numero in reversed(lista):
    print(numero)

40
30
20
10

In [30]:
tablas = int(input("Dame el número de tablas a calcular:  "))

for i in range(1, tablas + 1):

    print("Tabla de multiplicar del: ",i)
    contador = 1
    
    while contador < 11:
        print(i * contador, end = ' ')
        contador += 1
    print("\n")

Dame el número de tablas a calcular:  3
Tabla de multiplicar del:  1
1 2 3 4 5 6 7 8 9 10

Tabla de multiplicar del:  2
2 4 6 8 10 12 14 16 18 20

Tabla de multiplicar del:  3
3 6 9 12 15 18 21 24 27 30