In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import NearestNeighbors

In [21]:
import os
os.chdir("/Users/gilgu/OneDrive/Escritorio")
data = pd.read_csv("wine-clustering.csv")
data

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [22]:
A = np.array([[3.1, 2.3], [2.3, 4.2], [3.9, 3.5], [3.7, 6.4], [4.8, 1.9],
             [8.3, 3.1], [5.2, 7.5], [4.8, 4.7], [3.5, 5.1], [4.4, 2.9]])

In [23]:
A = data.to_numpy()
A

array([[1.423e+01, 1.710e+00, 2.430e+00, ..., 1.040e+00, 3.920e+00,
        1.065e+03],
       [1.320e+01, 1.780e+00, 2.140e+00, ..., 1.050e+00, 3.400e+00,
        1.050e+03],
       [1.316e+01, 2.360e+00, 2.670e+00, ..., 1.030e+00, 3.170e+00,
        1.185e+03],
       ...,
       [1.327e+01, 4.280e+00, 2.260e+00, ..., 5.900e-01, 1.560e+00,
        8.350e+02],
       [1.317e+01, 2.590e+00, 2.370e+00, ..., 6.000e-01, 1.620e+00,
        8.400e+02],
       [1.413e+01, 4.100e+00, 2.740e+00, ..., 6.100e-01, 1.600e+00,
        5.600e+02]])

# Necesitamos definir los vecinos mÃ¡s cercanos.

In [24]:
k = 5

In [25]:
test_data = [14,2,2.5,16,115,3,2.5,0.4,2,9,1,3.5,800]

# ahora, necesitamos construir el k vecino mÃ¡s cercano, el objeto tambiÃ©n necesita ser entrenado

In [26]:
knn_model = NearestNeighbors(n_neighbors = k, algorithm = 'auto').fit(A)
distances, indices = knn_model.kneighbors([test_data])

# Ahora, podemos imprimir los K vecinos mÃ¡s cercanos de la siguiente manera:

In [27]:
print("Nivel de alcohol en k=", k, "vecinos mas cercanos:")
acum = 0
for rank, index in enumerate(indices[0][:k], start = 1):
    print(str(rank) + "is", A[index][0])
    acum = acum + A[index][0]
print("\n Nivel promedio de alcohol: ", round(acum/5,4))

Nivel de alcohol en k= 5 vecinos mas cercanos:
1is 13.56
2is 14.06
3is 13.05
4is 12.93
5is 13.36

 Nivel promedio de alcohol:  13.392

# PROBLEMA 2

In [29]:
my_basket=[['bread', 'butter','wine','bananas','coffee','carrots'],
           ['tomatoes', 'onions', 'cheese', 'milk', 'potatoes'],
           ['beer', 'chips ', 'asparagus', 'salsa', 'milk', 'apples'],
           ['olive oil', 'bread', 'butter', 'tomatoes', 'steak', 'carrots'],
           ['tomatoes', 'onions', 'chips', 'wine', 'ketchup', 'orange juice'],
           ['bread', 'butter', 'beer', 'chips', 'milk'],
           ['butter', 'tomatoes', 'carrots', 'coffee', 'sugar'],
           ['tomatoes', 'onions', 'cheese', 'milk', 'potatoes'],
           ['bread', 'butter', 'ketchup', 'coffee', 'chicken wings'],
           ['butter', 'beer', 'chips', 'asparagus', 'apples'],
           ['tomatoes', 'onion', 'beer', 'chips', 'milk', 'coffee']]

In [30]:
elementos = len(my_basket)
elementos

11

In [31]:
column_names = ["Ticket", "Producto", "Cantidad"]
datos = pd.DataFrame(columns = column_names)

In [32]:
contador = 0
contador2 = 0
for elemento in my_basket:
    #print(contador)
    for elemento2 in elemento:
        #print(elemento2)
        datos.at[contador2,"Ticket"] = contador
        datos.at[contador2,"Producto"] = elemento2
        datos.at[contador2,"Cantidad"] = 1
        contador2 += 1
    contador += 1
datos

   Ticket       Producto Cantidad
0       0          bread        1
1       0         butter        1
2       0           wine        1
3       0        bananas        1
4       0         coffee        1
5       0        carrots        1
6       1       tomatoes        1
7       1         onions        1
8       1         cheese        1
9       1           milk        1
10      1       potatoes        1
11      2           beer        1
12      2         chips         1
13      2      asparagus        1
14      2          salsa        1
15      2           milk        1
16      2         apples        1
17      3      olive oil        1
18      3          bread        1
19      3         butter        1
20      3       tomatoes        1
21      3          steak        1
22      3        carrots        1
23      4       tomatoes        1
24      4         onions        1
25      4          chips        1
26      4           wine        1
27      4        ketchup        1
28      4   orange juice        1
29      5          bread        1
30      5         butter        1
31      5           beer        1
32      5          chips        1
33      5           milk        1
34      6         butter        1
35      6       tomatoes        1
36      6        carrots        1
37      6         coffee        1
38      6          sugar        1
39      7       tomatoes        1
40      7         onions        1
41      7         cheese        1
42      7           milk        1
43      7       potatoes        1
44      8          bread        1
45      8         butter        1
46      8        ketchup        1
47      8         coffee        1
48      8  chicken wings        1
49      9         butter        1
50      9           beer        1
51      9          chips        1
52      9      asparagus        1
53      9         apples        1
54     10       tomatoes        1
55     10          onion        1
56     10           beer        1
57     10          chips        1
58     10           milk        1
59     10         coffee        1

In [33]:
basket = (datos.groupby(['Ticket', 'Producto']))['Cantidad'].sum().unstack().reset_index().fillna(0).set_index('Ticket')
basket

Producto,apples,asparagus,bananas,beer,bread,butter,carrots,cheese,chicken wings,chips,...,olive oil,onion,onions,orange juice,potatoes,salsa,steak,sugar,tomatoes,wine
Ticket,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
2,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,1,1,0,0,0,...,1,0,0,0,0,0,1,0,1,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,1,1,0,0,0,0,1,1
5,0,0,0,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
7,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
8,0,0,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0

# CodificaciÃ³n a binario de la base previa para identificar si un artÃ­culo se comprÃ³ o nÃ³.

In [34]:
def codificar(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
    
basket_codificado = basket.applymap(codificar)
basket_codificado

Producto,apples,asparagus,bananas,beer,bread,butter,carrots,cheese,chicken wings,chips,...,olive oil,onion,onions,orange juice,potatoes,salsa,steak,sugar,tomatoes,wine
Ticket,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
2,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,1,1,0,0,0,...,1,0,0,0,0,0,1,0,1,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,1,1,0,0,0,0,1,1
5,0,0,0,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
7,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
8,0,0,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0

# Filtrado de aquellas transacciones en donde se ha comprado mÃ¡s de un artÃ­culo.

In [38]:
basket_filtrado = basket_codificado[(basket_codificado > 0).sum(axis=1) >= 2]
basket_filtrado

Producto,apples,asparagus,bananas,beer,bread,butter,carrots,cheese,chicken wings,chips,...,olive oil,onion,onions,orange juice,potatoes,salsa,steak,sugar,tomatoes,wine
Ticket,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
2,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,1,1,0,0,0,...,1,0,0,0,0,0,1,0,1,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,1,1,0,0,0,0,1,1
5,0,0,0,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
7,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
8,0,0,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0

# AplicaciÃ³n del algoritmo "Apriori" para localizar los artÃ­culos frecuentemente comprados en la base de datos.

In [37]:
from mlxtend.frequent_patterns import apriori

# Se utiliza un "Support" mÃ­nimo del 3%

In [39]:
articulos_frecuentes = apriori(basket_filtrado, min_support= 0.03,
                              use_colnames = True).sort_values('support', ascending = False).reset_index(drop= True)
articulos_frecuentes

C:\Users\gilgu\AppData\Local\Programs\Python\Python311\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

      support                                           itemsets
0    0.545455                                           (butter)
1    0.545455                                         (tomatoes)
2    0.454545                                             (milk)
3    0.363636                                             (beer)
4    0.363636                                            (bread)
..        ...                                                ...
401  0.090909                              (butter, beer, bread)
402  0.090909                            (wine, bananas, coffee)
403  0.090909                           (carrots, bananas, wine)
404  0.090909                         (carrots, bananas, coffee)
405  0.090909  (chips, ketchup, orange juice, wine, onions, t...

[406 rows x 2 columns]

In [40]:
articulos_frecuentes['length'] = articulos_frecuentes['itemsets'].apply(lambda x: len(x))
articulos_frecuentes

      support                                           itemsets  length
0    0.545455                                           (butter)       1
1    0.545455                                         (tomatoes)       1
2    0.454545                                             (milk)       1
3    0.363636                                             (beer)       1
4    0.363636                                            (bread)       1
..        ...                                                ...     ...
401  0.090909                              (butter, beer, bread)       3
402  0.090909                            (wine, bananas, coffee)       3
403  0.090909                           (carrots, bananas, wine)       3
404  0.090909                         (carrots, bananas, coffee)       3
405  0.090909  (chips, ketchup, orange juice, wine, onions, t...       6

[406 rows x 3 columns]

In [41]:
from mlxtend.frequent_patterns import association_rules

In [42]:
association_rules(articulos_frecuentes, metric = 'lift',
                 min_threshold =1).sort_values('lift', ascending = False).reset_index(drop=True)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,"(tomatoes, orange juice)","(ketchup, chips)",0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf,1.000000
1,"(coffee, carrots, wine)","(butter, bananas, bread)",0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf,1.000000
2,"(milk, apples)","(asparagus, beer, salsa)",0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf,1.000000
3,"(carrots, bread, coffee)","(butter, wine, bananas)",0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf,1.000000
4,"(carrots, bananas, bread)","(butter, wine, coffee)",0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf,1.000000
...,...,...,...,...,...,...,...,...,...,...
3707,"(tomatoes, coffee)",(milk),0.181818,0.454545,0.090909,0.5,1.1,0.008264,1.090909,0.111111
3708,(apples),(milk),0.181818,0.454545,0.090909,0.5,1.1,0.008264,1.090909,0.111111
3709,(milk),(apples),0.454545,0.181818,0.090909,0.2,1.1,0.008264,1.022727,0.166667
3710,(milk),"(tomatoes, coffee)",0.454545,0.181818,0.090909,0.2,1.1,0.008264,1.022727,0.166667
3711,(milk),"(tomatoes, chips)",0.454545,0.181818,0.090909,0.2,1.1,0.008264,1.022727,0.166667