In [20]:
import sqlite3

miConexion=sqlite3.connect("PrimeraBase")


miCursor=miConexion.cursor()                                       #creamos el cursor

#miCursor.execute("CREATE TABLE PRODUCTOS (NOMBRE_ARTICULO VARCHAR(50), PRECIO INTEGER, SECCION VARCHAR (20))")

#miCursor.execute("INSERT INTO PRODUCTOS VALUES('BALÓN', 15, 'DEPORTES')")

# miConexion.commit()                ------->     # confirma los cambios hechos en la tabla



#variosProductos=[       

  # ("Camiseta", 10, "Deportes"),
  # ("Jarrón", 90, "Cerámica"),
   #("Camión", 20, "Juguetería")


#]

miCursor.execute("SELECT * FROM PRODUCTOS")
variosProductos=miCursor.fetchall()
print(variosProductos)



#miCursor.executemany("INSERT INTO PRODUCTOS VALUES(?,?,?)", variosProductos)





miConexion.close()

[('BALÓN', 15, 'DEPORTES')]