# Diferentes formas de crear tuplas

In [1]:
my_tuple = ("Carlos", "Test", 3000, 15.79)
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Carlos', 'Test', 3000, 15.79)

In [2]:
my_tuple = "Carlos", "Test", 3000, 15.79                      # sin paréntesis
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Carlos', 'Test', 3000, 15.79)

In [3]:
my_list = [100,200,300,400,500]
my_tuple = tuple(my_list)                
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(100, 200, 300, 400, 500)

# Método sort en tuplas

--Ordena

In [7]:
my_tuple = (5, 4, 2, 7, 9, 0, 1)
my_sorted_tuple = sorted(my_tuple)
my_sorted_tuple2 = tuple(sorted(my_tuple))

print(type(my_tuple))
print(my_tuple)

print("\n")

print(type(my_sorted_tuple))
print(my_sorted_tuple)

print("\n")

print(type(my_sorted_tuple2))
print(my_sorted_tuple2)

<class 'tuple'>
(5, 4, 2, 7, 9, 0, 1)


<class 'list'>
[0, 1, 2, 4, 5, 7, 9]


<class 'tuple'>
(0, 1, 2, 4, 5, 7, 9)

# Método all en Tuplas

In [8]:
my_tuple = (5, 4, 2, 7, 9, 2, 1)          #Valida que todos los elementos de la tupla sean mayores que cero, true
print(all(my_tuple))                      # que no haya elementos faltantes.

True

In [9]:
my_tuple = (5, 4, 2, 7, 9, 0, 1)
print(all(my_tuple))

False

In [10]:
my_tuple = (5, 4, 2, 7, 9, "", 1)
print(all(my_tuple))

False

In [13]:
my_tuple = (5, 4, 2, 7, 9, "test", 1)
print(all(my_tuple))

True

In [11]:
my_tuple = (5, 4, 2, 7, 9, None, 1)
print(all(my_tuple))

False

In [12]:
my_tuple = (5, 4, 2, 7, 9, False, 1)
print(all(my_tuple))

False

In [14]:
my_tuple = (5, 4, 2, 7, 9, True, 1)
print(all(my_tuple))

True

# Método any en Tuplas

In [15]:
my_tuple = (5, 4, 2, 7, 9, 2, 1)          # hay un elemento elemento diferente de cero y regresa true
print(any(my_tuple))

True

In [16]:
my_tuple = (5, 4, 2, 7, 9, 0, 1)
print(any(my_tuple))

True

In [17]:
my_tuple = (0, 0, 0, 0, 0, 0, 1) 
print(any(my_tuple))

True

In [18]:
my_tuple = (0, 0, 0, 0, 0, 0, 0) 
print(any(my_tuple))

False

In [20]:
my_tuple = ("", "", "", "", "", "", "") 
print(any(my_tuple))

False

In [21]:
my_tuple = ("", "", "", "", "g", "", "") 
print(any(my_tuple))

True

In [22]:
my_tuple = (None, None, None, None,) 
print(any(my_tuple))

False

In [23]:
my_tuple = (None, "Gilberto", None, None,) 
print(any(my_tuple))

True

In [24]:
my_tuple = (False, False) 
print(any(my_tuple))

False

In [25]:
my_tuple = (False, False, True) 
print(any(my_tuple))

True

# Método len en Tuplas

In [26]:
my_tuple = (5, 4, 2, 7, 9, 2, 1)   
print(type(my_tuple))
print(my_tuple)
print(len(my_tuple))

<class 'tuple'>
(5, 4, 2, 7, 9, 2, 1)
7

# Indexación en Tuplas

In [27]:
my_tuple = (5, 4, 2, 7, 9, 2, 1)   
print(type(my_tuple))
print(my_tuple)
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[3])
print(my_tuple[-4])

<class 'tuple'>
(5, 4, 2, 7, 9, 2, 1)
5
1
7
7

# Conversión de Tuplas

# Cadena a Tupla

In [28]:
my_string = "Backend Python"
my_tuple = tuple(my_string)

print(my_string)
print(my_tuple)

Backend Python
('B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n')

# Lista a Tupla

In [29]:
my_list = ["Python", "Javascript", "Java", "Go", "Scala"]
my_tuple = tuple(my_list)

print(my_list)
print(my_tuple)

['Python', 'Javascript', 'Java', 'Go', 'Scala']
('Python', 'Javascript', 'Java', 'Go', 'Scala')

# Tupla a Cadena

In [30]:
my_tuple = ('B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n')
my_string = "".join(my_tuple)                 #la cadena vacía es para que no ponga separadores 

print(my_tuple)
print(my_string)

('B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n')
Backend Python

In [31]:
my_tuple = ('B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n')
my_string = "-".join(my_tuple)                 #la cadena vacía es para que no ponga separadores 

print(my_tuple)
print(my_string)

('B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n')
B-a-c-k-e-n-d- -P-y-t-h-o-n

# Tupla a Lista

In [32]:
my_tuple = ("Python", "Javascript", "Java", "Go", "Scala")
my_list = list(my_tuple)

print(my_tuple)
print(my_list)

('Python', 'Javascript', 'Java', 'Go', 'Scala')
['Python', 'Javascript', 'Java', 'Go', 'Scala']

# Ventajas de la Tupla sobre la Lista

--Generalmente usamos tuplas para elementos heterogéneos (de diferente tipo de dato), y usamos listas para elementos 
  homogéneos (del mismo tipo de dato).
--Las tuplas son inmutables, iterar a través de una tupla es más rápido que con una lista. Por lo tanto hay una pequeña    
  mejora de rendimiento.
--Las tuplas que contienen elementos inmutables  pueden ser usadas como llaves para un diccionario. Con listas no es
  posible.
--Si tienes data que no cambia el implementarla como tupla te garantiza que se mantendrá protegida a modificaciones

In [33]:
my_tuple[0] = "Valor intruso"

TypeError: 'tuple' object does not support item assignment

In [34]:
my_list[0] = "Valor intruso"

In [35]:
print(my_tuple)
print(my_list)

('Python', 'Javascript', 'Java', 'Go', 'Scala')
['Valor intruso', 'Javascript', 'Java', 'Go', 'Scala']